<!DOCTYPE html>
<html lang="en">
<head>
  {% include "/layout/head.twig" %}
  <title>{% block title %}xNocken{% endblock %}</title>
</head>
<body>
    {% block header %}
      {% include "/layout/header.twig" %}
    {% endblock %}

    <div class="content-wrapper">
      <div class="container-wrapper">
        {% block content %}
        <div class="container">No Content set yet</div>
        {% endblock %}
      </div>
    </div>

    {% include "/layout/scripts.twig" %}
</body>

</html>
