{% extends "layout/base.twig" %}

{% block title %}404 - xNocken{% endblock %}

{% block content %}
  <div class="container">
      <h1>404</h1>
      <h2>{{ '404.not_found'|trans({
        ':path:': url
      }) }}</h2>
  </div>
{% endblock %}
