<div class="content-wrapper container">

  <h1>Account settings</h1>
  <div class="account">
    <form class="account--data" id="user-data">
    <h2>Profile info</h2>
      <input class="account--data--field" name="name" value="{{ user.name }}">
      <input class="account--data--submit" type="submit" value="Save Settings">
    </form>

    <form class="account--picture" id="user-picture">
      <h2>Profile Picture</h2>
      <img class="account--picture--img" src="{{ user.profile_picture }}&s=150">
      <input class="account--picture--field" name="gravatar" placeholder="Email from Gravatar">
      <input class="account--picture--submit" type="submit" value="Save Settings">
    </form>

    <form class="account--password" id="user-password">
      <h2>Change password</h2>
      <input class="account--password--field" type="password" name="current" placeholder="Current password">
      <input class="account--password--field" type="password" name="pw" placeholder="New password">
      <input class="account--password--field" type="password" name="pw2" placeholder="Repeat password">
      <input class="account--password--submit" type="submit" value="Change password">
    </form>
  </div>
</div>
