{% extends "/layout/base.twig" %}


{% block content %}
{% if user.lowername == current_user %}
  {% set isOwnPage = true %}
{% else %}
  {% set isOwnPage = false %}
{% endif %}
<div class="content-wrapper">
	<div class="container">
		<div class="profile">
			<div class="profile--info">
        <p class="profile--info--status" id="profile-status"></p>
				<div class="profile--info--image">
					<img src="{{ user.profile_picture }}" id="profile-picture">
				</div>

				<h2 contenteditable="{% if isOwnPage %}true{% else %}false{% endif %}" id="profile-name" class="profile--info--name profile--info--name__{{ user.rank }}">{{ user.name }}</h2>

				<div class="profile--info--about" id="profile-about" contenteditable="{% if isOwnPage %}true{% else %}false{% endif %}">
{% if user.about %}
{{ user.about|striptags('<div>')|raw }}{% elseif isOwnPage %}<div>Click here to edit your about</div>{% else %}
No About set
{% endif %}</div>
        <p class="profile--info--about--charcount" id="profile-charcount"></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
