$video-amount: 6;

.videos--video {
  &--image {
    width: 100%;

    &--wrapper {
      position: relative;
    }

    &--live {
      position: absolute;
      bottom: 0;
      right: 25px;
      color: white;
      background-color: red;
      border-radius: 5px;
      padding: 5px;
      font-weight: bold;

      &__none {
        display: none;
      }
    }
  }

  &--link {
    text-decoration: none;
    color: black;
  }

  &--date {
    width: 100%;
    padding: {
      left: 20px;
      right: 20px;
    }
  }

  &--title {
    width: 100%;
    padding: {
      left: 20px;
      right: 20px;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
