.profile {
  &--info {
    position: relative;

    &--image {
      border-radius: 100px;
      display: inline-block;
      overflow: hidden;
      height: 80px;
      width: 80px;
    }

    &--name {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      margin-left: 20px;
      min-width: 50px;

      &__1 {
        color: $color-mod;
      }

      &__2 {
        color: $color-admin;
      }
    }

    &--about {
      margin-top: 50px;
      max-width: 100%;
      min-height: 50px;

      &--edit {
          display: block;
          margin-top: 20px;
          width: 100%;
          height: 100px;
          resize: none
      }

      &--charcount {
        position: absolute;
        right: 5px;
        bottom: -10px;

        &__limit-reached {
          color: red;
        }
      }

      &__empty {
        border: red solid 1px;
      }
    }
  }
}
