.admin {
  &--table {
    width: 100%;
    border: lightgray solid 2px;
    margin: 0;

    &--row {
      background-color: white;

      &:nth-child(odd) {
        background-color: lightgray;
      }

      &:first-child {
        background-color: aqua;
      }

      &--field {
        width: (100% / $user-column-count);
        padding: {
          top: 10px;
          bottom: 10px;
        };

        img {
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  &--button {
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    text-align: center;
    cursor: pointer;

    &[disabled] {
      opacity: 0.6;
      cursor: default;
    }

    &:hover {
      opacity: 0.8;

      &[disabled] {
        opacity: 0.6;
      }
    }

    &__add {
      background-color: rgb(72, 243, 72);
    }

    &__delete {
      background-color: red;
    }
  }
}
