.projects {
  &--toolbar {
    height: 40px;
    width: 100%;
    border: lightgray solid 2px;
    border-bottom: 0;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

    &--input {
      margin-right: 20px;
    }
  }

  &--table {
    width: 100%;
    border: lightgray solid 2px;
    margin: 0;

    &--row {
      background-color: white;

      &:nth-child(odd) {
        background-color: lightgray;
      }

      &:first-child {
        background-color: aqua;
      }

      &--field {
        width: (100% / $column-count);
        word-wrap: break-word;
        padding: {
          top: 10px;
          bottom: 10px;
        };
      }
    }
  }

  &--button {
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &__add {
      background-color: rgb(72, 243, 72);
    }

    &__delete {
      background-color: red;
    }
  }
}
