{% extends "layout/base.twig" %}

{% block header %}{% include "admin/adminheader.twig" %}{% endblock %}
{% block title %}Navigation - Admin - xNocken{% endblock %}

{% block content %}
<div class="content-wrapper container">
	<div class="admin">
		<div class="admin--toolbar">
			<input type="text" class="admin--toolbar--input" placeholder="Name" id="add-navigation-name">
			<input type="text" class="admin--toolbar--input" placeholder="URL" id="add-navigation-path">
			<input type="number" class="admin--toolbar--input" placeholder="Rank" id="add-navigation-rank">
			<a id="add-navigation-button" class="admin--button admin--button__add">Add Navigation</a>
		</div>

		<table class="admin--table">
			<tr class="admin--table--row">
				<th class="admin--table--row--field">Name</th>
				<th class="admin--table--row--field">URL</th>
				<th class="admin--table--row--field">Rank</th>
				<th class="admin--table--row--field">Active</th>
				<th class="admin--table--row--field">Action</th>
			</tr>

			{% for navigation in navigations %}

				<tr class="admin--table--row" data-id="{{ navigation.id }}">
					<th class="admin--table--row--field">
						{{ navigation.name }}
					</th>
					<th class="admin--table--row--field">
						{{ navigation.path }}
					</th>
					<th class="admin--table--row--field">
						{% if navigation.rank == NULL %}
							NULL
						{% else %}
							{{ navigation.rank }}
						{% endif %}
					</th>
					<th class="admin--table--row--field">
						{% if navigation.active == 0 %}
							<a data-active="0" class="admin--button admin--button__add navigation-active-button">Enable</a>
						{% else %}
							<a data-active="1" class="admin--button admin--button__delete navigation-active-button">Disable</a>
						{% endif %}
					</th>
					<th class="admin--table--row--field">
						<a class="admin--button navigation-delete-button admin--button__delete">
							Delete
						</a>
					</th>
				</tr>

			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
