.header {
  z-index: 100;
  width: 1200px;
  top: 0;
  position: fixed;

  &--navigation {
    display: inline-block;
    width: $navigation-size;
  }

  &--user {
    display: inline-block;
    width: 99.5% - $navigation-size;
  }
}

.user {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  position: relative;

  &--name {
    display: inline-block;
    transform: translateY(25%);
  }

  &--image {
    margin-left: 20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;

    img {
      height: 50px;
      width: 50px;
    }
  }

  &--dropdown {
    display: none;
    position: absolute;
    border: black solid 1px;
    background-color: white;
    top: 50px;
    width: 100%;

    ul {
      list-style-type: none;
    }
  }

  &:hover &--dropdown {
    display: block;
  }
}

.navigation {
  display: flex;
  justify-content: flex-start;

  &--entry {
    display: inline-block;
    transform: translateY(80%);
    margin: {
      right: 40px;
    };

    a {
      color: black;
      text-transform: capitalize;
      text-decoration: none;
    }
  }
}
