*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Open Sans";
}

.container {
  max-width: 1200px;
  margin: auto;
}

.content-wrapper {
  margin-top: 70px;
}


pre.dump {
  display: block;
  width: 100%;
  clear: both;
  color: #000 !important;
  background: #ccc !important;
  text-transform: none !important;
  word-break: break-all;
  word-wrap: break-word;
  white-space:pre-wrap;
}