*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  margin: 0;
}

.container {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  @each $bp, $size in $container-sizes {
    @include breakpoint($bp) {
      $width: $size;

      @if $width != 0 and $width != null {
        width: $width;
      }
    }
  }

  &-wrapper {
    padding: 0 $grid-gutter;
  }

  &--has-visible-overflow {
    overflow: visible;
  }
}

pre.sf-dump {
  margin-top: 70px;
  z-index: 10 !important;
}

.fa-thumbs-down {
  transform: rotateY(180deg);
}

.content-wrapper {
  margin-top: 70px;
}

.mobile-only {
  @include breakpoint(md) {
    display: none;
  }
}

.desktop-only {
  @include breakpoint(md, max-width) {
    display: none;
  }
}
